apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: jobe-{{ default "staging" .Release.Namespace }}-httproute
  namespace: {{ default "staging" .Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gw
      namespace: traefik
  hostnames:
    - jobe{{- if ne .Release.Namespace "production" }}-{{ default "staging" .Release.Namespace }}{{- end }}.{{ .Values.dns.name }}
  rules:
    {{- range $idx, $key := .Values.apiKeys }}
    - matches:
        - headers:
            - name: X-API-KEY
              value: {{ $key | quote }}
      backendRefs:
        - name: jobeinabox-{{ default "staging" $.Release.Namespace }}
          port: 80
    {{- end }}